# macOS
*.DS_Store
.AppleDouble
.LSOverride

# tests
coverage
.eslintcache

# logs
*.log

# npm & yarn
node_modules/
.npm
.yarn-integrity
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*

# ide
.idea
packages/api/etc/

# project
/dist
/build
/.env
/public/web.config
