@import "../../../themes/v1/scss/common";

$filter-font-size: 16px;

.shuffler {

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: em(8);
		margin: em(24) 0 0;
		padding: em(8);
		position: relative;
		overflow: hidden;
		list-style-type: none;

		&-item {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			position: relative;
			padding-bottom: 66.66%;
			will-change: transform;
			@include media-breakpoint-up(tablet) {

			}
			@media (max-height: em(700)) {
				padding-bottom: 57%;
			}

			> :first-child {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	&__filter {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		flex-wrap: wrap;

		&-item {
			font-size: em($filter-font-size);
			font-weight: 600;
			color: $black;
			display: block;
			border: none;
			box-shadow: none;
			transition: 0.25s ease-in-out;
			cursor: pointer;
			flex-shrink: 0;
			&:focus {
				outline: none;
			}

			> span {
				display: block;
				padding: 0;
				margin: em(8) em(16);
				@include media-breakpoint-down(default) {
					padding: em(5) em(16) em(4);
					margin: em(4) em(0);
					border-radius: em(24);
					transition: all 0.25s ease-in-out;
				}
			}

			> input[type="radio"] {
				display: none;

				&:checked + span {
					color: $tertiary;

					@include media-breakpoint-down(default) {
						color: $white;
						background: $tertiary;
					}
				}
			}
		}

		&-marker {
			display: block;
			height: em(3);
			width: em(1);
			transition: transform 0.25s timing(ease-out-back);
			transform: translateX(0px) scaleX(0);
			position: absolute;
			bottom: 0;
			left: 0;
			background: $tertiary;
			will-change: transform;
			@include media-breakpoint-down(default) {
				display: none;
			}
		}
	}

	&__sizer {
		width: 100%;
	}
}
