@import "../../../themes/v1/scss/common";

.card {
	height: 300px;
	background: $white;

	&__inner {
		height: 100%;
		padding: em(8);
		display: flex;
		flex-direction: column;
		position: relative;
	}

	&__header {
		height: auto;
		padding: em(16) em(16) 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex: 0 0 auto;
	}

	&__heading {
		position: relative;
		top: em(5, 24);
	}

	&__logo {
		height: em(60);
		width: em(60);
		border-radius: em(5);
		align-self: flex-end;
		margin-left: auto;
		overflow: hidden;
		position: relative;
		top: em(-40);
		right: em(-8);

		img {
			display: block;
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	&__body {
		padding: em(8) em(16);
		flex: 0 0 auto;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}
}
