@import '../../../themes/v1/scss/common';

.tile {
	width: 100%;
	margin: 0;
	padding: 0;
	background: $grey;

	&__inner {
		height: 100%;
		position: relative;
	}

	&__side {
		position: absolute;
		height: 100%;
		width: 100%;
		backface-visibility: hidden;
		transition: transform 0.5s ease-in-out;
		will-change: tranform;

		&-front {
			z-index: 2;
			background: blue;
		}

		&-back {
			z-index: 1;
			transform: rotateY(-180deg);
			background: greenyellow;
		}
	}

	// flippable type
	&--flip {
		background: transparent;
	}

	// flipped state
	&--flipped {

		.tile__side {

			&-front {
				transform: rotateY(180deg);
			}

			&-back {
				transform: rotateY(0deg);
			}
		}
	}
}
