@import '../../../themes/v1/scss/common';

.tile {
	width: 100%;
	margin: 0;
	padding: 0;
	background: $grey;

	&__inner {
		height: 100%;
		position: relative;
	}

	&__side {
		position: absolute;
		height: 100%;
		width: 100%;
		backface-visibility: hidden;
		transition: transform 0.5s ease-in-out,
					filter 0.25s ease-in-out;
		will-change: tranform;
		overflow: hidden;

		&-front {
			z-index: 2;
			@media (pointer: fine) {
				filter: grayscale(80%);
				&:hover {
					filter: grayscale(0);
				}
			}
		}

		&-back {
			z-index: 1;
			transform: rotateY(-180deg);
			background: $black;

			.video {
				transition: opacity .25s ease-in-out;
				opacity: 0;
			}
		}
	}

	// flippable type
	&--flip {
		background: transparent;
	}

	// flipped state
	&--flipped {

		.tile__side {

			&-front {
				transform: rotateY(180deg);
			}

			&-back {
				transform: rotateY(0deg);

				.video {
					opacity: 1;
				}
			}
		}
	}
}
